.imgFundo{
    background-image: url("../assets/Fundo\ Login.png");
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.body{
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

@media(max-width: 425px){
    .formPais{
        max-width: 210px;
        max-height: 210px;
    }
}
.tituloPais{
    font-size: 25px;
    margin-top: -30px;
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 0 0;
}
.formPais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.3);
    border: solid 1px rgb(197, 196, 196);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    padding: 50px;
    gap: 10px;
    margin-top: 50px;
    box-shadow: 0 0 45px black;
}
.divDados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.lbl{
    position: absolute;
    pointer-events: none;
    left: 6px;
    padding: 0 4px;
    font-size: 16px;
    transform: translateY(0px);
    transition: .4s;
}
.imgDados{
    position: absolute;
    pointer-events: none;
    filter: invert(1);
    height: 25px;
    width: 25px;
    right: 6px;
}
.inputTxt{
    padding: 15px 10px;
    font-size: 16px;
    transition: .4s;
    border: none;
    outline: none;
    color: white;
    border-bottom: solid 2px white;
    background: transparent;
}
.inputTxt:focus + .lbl{
    transform: translateY(-25px);
    color: rgb(0, 255, 149);
}
.inputTxt:focus{
    border-color: rgb(0, 255, 149);
}
.inputTxt:valid + .lbl{
    transform: translateY(-25px);
    color: rgb(0, 255, 149);
}
.inputTxt:valid{
    border-color: rgb(0, 255, 149);
}

.btnSubmit{
    width: 100%;
    padding: 15px 10px;
    border-radius: 50rem;
    transition: .4s;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 15px black;
}
.btnSubmit:hover{
    background: rgb(0, 255, 149);
    box-shadow: 0 0 15px rgb(0, 255, 149);
}
.btnSubmit:active{
    transform: scale(0.9);
}

.containerPFlag{
    text-align: center;
    width: 400px;
    height: 250px;
}

.previewFlag{
    border: 1px solid rgb(255, 255, 255);
    object-fit: cover;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    backdrop-filter: blur(30px);
}