.imgFundo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/Fundo\ Login.png");
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    color: white;
}

@media(max-width: 425px){
    .form-pais{
        max-width: 210px;
        max-height: 210px;
    }
}
.titulo-pais{
    font-size: 25px;
    margin-top: -30px;
    color: white;
    backdrop-filter: blur(20px);
    border-radius: 5px 5px 0 0;
}
.form-pais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    background: transparent;
    border: solid 1px rgb(197, 196, 196);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    padding: 50px;
    gap: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 45px black;
}
.div-dados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.lbl{
    position: absolute;
    pointer-events: none;
    left: 6px;
    padding: 0 4px;
    font-size: 16px;
    transform: translateY(0px);
    transition: .4s;
}
.img-dados{
    position: absolute;
    pointer-events: none;
    filter: invert(1);
    height: 25px;
    width: 25px;
    right: 6px;
}
.input-txt{
    padding: 15px 10px;
    font-size: 16px;
    transition: .4s;
    border: none;
    outline: none;
    border-bottom: solid 2px white;
    background: transparent;
}
.input-txt:focus + .lbl{
    transform: translateY(-25px);
    color: rgb(0, 255, 149);
}
.input-txt:focus{
    border-color: rgb(0, 255, 149);
}
.input-txt:valid + .lbl{
    transform: translateY(-25px);
    color: rgb(0, 255, 149);
}
.input-txt:valid{
    border-color: rgb(0, 255, 149);
}

.btn-submit{
    width: 100%;
    padding: 15px 10px;
    border-radius: 50rem;
    transition: .4s;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 15px black;
}
.btn-submit:hover{
    background: rgb(0, 255, 149);
    box-shadow: 0 0 15px rgb(0, 255, 149);
}
.btn-submit:active{
    transform: scale(0.9);
}

.containerPFlag{
    text-align: center;
    width: 300px;
    height: 250px;
    margin-left: 0px;   
}

.previewFlag{
    border: 1px solid black;
    object-fit: cover;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}